

<style>
	.all-suns-wrapper{
		padding-top: 10px;
		display: flex;
	}

	.all-suns-det{
		  width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
	}

	h1{
		font-size: 2em;
		text-align: center;	
	}
</style>





<div class="all-suns-wrapper">

	<div class="all-suns-det">
		<h1>Every Sunset</h1>
			{{#each sunsets}}

			<div class="card">
				<div class="card_image"> <img src="{{pictures}}" /> </div>
				<div class="card_title title-white">
				<a href="/suns/{{category}}/list/{{_id}}">
					<h5 class="card-title button">{{name}}</h5>
				</a>
				</div>
			</div>
			
			{{/each}}
	</div>



	<div class="all-suns-det">
			<h1>Every Sunrise</h1>
			{{#each sunrises}}
			
			<div class="card">
				<div class="card_image"> <img src="{{pictures}}" /> </div>
				<div class="card_title title-white">
				<a href="/suns/{{category}}/list/{{_id}}">
					<h5 class="card-title button">{{name}}</h5>
				</a>
				</div>
			</div>


			{{/each}}

	</div>

</div>

