
<div class="card" style="width: 18rem;">
  <img src="{{pictures}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{description}}</p>
    <a href="/sunsets/list/{{_id}}" class="btn btn-primary">Go </a>
  </div>
</div>

<p> {{address.street}} {{address.number}} {{address.city}}  </p>

<form>
  <input type="hidden" id="latitude" name="lat" value="{{location.coordinates.[0]}}">
  <input type="hidden" id="longitude" name="lng" value="{{location.coordinates.[1]}}">
</form>

<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkzgyhP_CswYl13k5mNkOJu2Nldp3Y-Ys"></script>
<script src="/js/detalles.js"></script>


 