List of {{sun.[0].category}}s

{{#each sun}}

<div class="card" style="width: 18rem;">
  <img src="{{pictures}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{description}}</p>
    <a href="/sunsets/list/{{_id}}" class="btn btn-primary">Go </a>
  </div>
</div>

{{/each}}