<h2>{{user.username}}</h2>
{{#if user.profileImg}}
<div class="card" style="width: 18rem;">
	<img src="{{user.profileImg}}" class="card-img-top" alt="...">
</div>
{{/if}}
<div class="row">
	<div class="col-md-6">
		<p>Bio:</p>
		<p>{{user.bio}}</p>

		{{#if user.favorites}}
		<p> Your favorites</p>
		{{#each user.favorites}}
		<div class="card" style="width: 18rem;">
			<img src="{{this.pictures.[0]}}" class="card-img-top" alt="...">
			<div class="card-body">


			<button id="removeFavorite"> Remove Fav.
					<input type="hidden" id="remove-fav" value="{{_id}}" >
					<input type="hidden" id="category-for-fav" value="{{this.category}}">
				</button>

			</div>
		</div>
		{{/each}}

		{{else}}
		<p>{{username}} no have favorites </p>
		{{/if}}

		{{#if owner}}
		<p>you own this profile</p>
		<a href="/users/{{user._id}}/edit-profile" class="btn btn-primary">Edit</a>
		{{/if}}

		<script src="/js/profile-favorites.js"></script>